In [5]:
import os
import time
import numpy as np
import pandas as pd
import dask
import dask.dataframe as dd
import shutil
path='D:\\Principal\\Escuela\\Actual\\TEC\\semestre7\\bloque2_IA\\reto\\f\\uniteFiles\\files\\'

In [2]:
from dask.distributed import Client
client = Client(n_workers=3, processes=True)
client

In [31]:
client.close()

In [9]:
contenido = os.listdir(path)
contenido

['example0.csv',
 'example1.csv',
 'example10.csv',
 'example2.csv',
 'example3.csv',
 'example4.csv',
 'example5.csv',
 'example6.csv',
 'example7.csv',
 'example8.csv',
 'example9.csv']

In [13]:
#Crear DataFrame con todos los archivos
#DataFrame para unir los csv en uno solo con una columna con el nombre de cada archivo para distingirlos y clasificarlos
filesp = path + '*.csv'
ddf=dd.read_csv(filesp, include_path_column=True)
archivos = os.listdir(path)
column_name = ['col5_float','col7_float','col9_float','col11_float','col13_float','col15_float','col17_float','col19_float','col21_float','col23_float','col25_float','col27_float','target_boolean','col31_integer','col33_integer','col35_integer']

In [14]:
ddf=ddf.drop(columns=['col1_boolean','col2_boolean', 'col3_boolean','col4_boolean'])
ddf

Dask DataFrame Structure:
                 time col5_float col6_float col7_float col8_float col9_float col10_float col11_float col12_float col13_float col14_float col15_float col16_float col17_float col18_float col19_float col20_float col21_float col22_float col23_float col24_float col25_float col26_float col27_float col28_float target_boolean target_boolean.1 col31_integer col32_integer col33_integer col34_integer col35_integer col36_integer             path
npartitions=11
                int64    float64    float64    float64    float64    float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64     float64          int64            int64         int64         int64         int64         int64         int64         int64  category[known]
                  ...        ...        ...        ...        ...        ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...            ...              ...           ...           ...           ...           ...           ...           ...              ...
...               ...        ...        ...        ...        ...        ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...            ...              ...           ...           ...           ...           ...           ...           ...              ...
                  ...        ...        ...        ...        ...        ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...            ...              ...           ...           ...           ...           ...           ...           ...              ...
                  ...        ...        ...        ...        ...        ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...         ...            ...              ...           ...           ...           ...           ...           ...           ...              ...
Dask Name: drop_by_shallow_copy, 2 graph layers

In [15]:
ddf.head(5)

,time,col5_float,col6_float,col7_float,col8_float,col9_float,col10_float,col11_float,col12_float,col13_float,...,col28_float,target_boolean,target_boolean.1,col31_integer,col32_integer,col33_integer,col34_integer,col35_integer,col36_integer,path
0,0,0.404903,0.251482,0.794341,0.167879,0.079705,0.074470,0.987766,0.957063,0.569412,...,0.239259,0,0,16,15,88,10,115,0,D:/Principal/Escuela/Actual/TEC/semestre7/bloq...
1,1,0.360621,0.479338,0.660183,0.819246,0.950432,0.561881,0.051235,0.249683,0.824710,...,0.022378,0,0,13,72,68,39,19,0,D:/Principal/Escuela/Actual/TEC/semestre7/bloq...
2,2,0.959162,0.681396,0.421440,0.215729,0.617876,0.247174,0.847244,0.846729,0.252945,...,0.262042,0,0,57,20,127,72,84,0,D:/Principal/Escuela/Actual/TEC/semestre7/bloq...
3,3,0.328729,0.738996,0.964067,0.196174,0.306752,0.143678,0.484405,0.065296,0.085757,...,0.349704,0,0,106,85,30,111,7,0,D:/Principal/Escuela/Actual/TEC/semestre7/bloq...
4,4,0.132041,0.117357,0.320748,0.431594,0.362068,0.842795,0.630939,0.294688,0.579616,...,0.805324,0,0,3,70,94,77,95,0,D:/Principal/Escuela/Actual/TEC/semestre7/bloq...

In [30]:
df_union=pd.DataFrame()

for i in archivos:
    print(i)
    fname = str(i)
    df1 = pd.read_csv(path+'\\'+i)
    df_rep=pd.DataFrame()
    index=np.full(len(df1['time']),i)
    df_rep["archivo"]=[i] * len(df1)
    df_rep["time"]=df1["time"]
    columns = list(df1.columns)
    cont=5
    #df_rep = df_rep.set_index('archivo')
    print(df_rep)
    for c in column_name:
        std1=df1[columns[cont]].describe()
        std2=df1[columns[cont+1]].describe()
        if(std1[2]>std2[2]):
            df_rep[c]=df1[columns[cont]]
        else:
            df_rep[c]=df1[columns[cont+1]]
    cont+=2
    frames=[df_union,df_rep]
    print(i,'2')
    print(df_rep)
    df_union = pd.concat(frames)
df_union

example0.csv
          archivo  time
0    example0.csv   990
1    example0.csv     1
2    example0.csv     2
3    example0.csv     3
4    example0.csv     4
..            ...   ...
248  example0.csv   248
249  example0.csv   249
250  example0.csv   250
251  example0.csv   251
252  example0.csv   252

[253 rows x 2 columns]
example0.csv 2
          archivo  time  col5_float  col7_float  col9_float  col11_float  \
0    example0.csv   990    0.404903    0.404903    0.404903     0.404903
1    example0.csv     1    0.360621    0.360621    0.360621     0.360621
2    example0.csv     2    0.959162    0.959162    0.959162     0.959162
3    example0.csv     3    0.328729    0.328729    0.328729     0.328729
4    example0.csv     4    0.132041    0.132041    0.132041     0.132041
..            ...   ...         ...         ...         ...          ...
248  example0.csv   248    0.873279    0.873279    0.873279     0.873279
249  example0.csv   249    0.175212    0.175212    0.175212     0.175212
250  example0.csv   250    0.458186    0.458186    0.458186     0.458186
251  example0.csv   251    0.123128    0.123128    0.123128     0.123128
252  example0.csv   252    0.853324    0.853324    0.853324     0.853324

     col13_float  col15_float  col17_float  col19_float  col21_float  \
0       0.404903     0.404903     0.404903     0.404903     0.404903
1       0.360621     0.360621     0.360621     0.360621     0.360621
2       0.959162     0.959162     0.959162     0.959162     0.959162
3       0.328729     0.328729     0.328729     0.328729     0.328729
4       0.132041     0.132041     0.132041     0.132041     0.132041
..           ...          ...          ...          ...          ...
248     0.873279     0.873279     0.873279     0.873279     0.873279
249     0.175212     0.175212     0.175212     0.175212     0.175212
250     0.458186     0.458186     0.458186     0.458186     0.458186
251     0.123128     0.123128     0.123128     0.123128     0.123128
252     0.853324     0.853324     0.853324     0.853324     0.853324

     col23_float  col25_float  col27_float  target_boolean  col31_integer  \
0       0.404903     0.404903     0.404903        0.404903       0.404903
1       0.360621     0.360621     0.360621        0.360621       0.360621
2       0.959162     0.959162     0.959162        0.959162       0.959162
3       0.328729     0.328729     0.328729        0.328729       0.328729
4       0.132041     0.132041     0.132041        0.132041       0.132041
..           ...          ...          ...             ...            ...
248     0.873279     0.873279     0.873279        0.873279       0.873279
249     0.175212     0.175212     0.175212        0.175212       0.175212
250     0.458186     0.458186     0.458186        0.458186       0.458186
251     0.123128     0.123128     0.123128        0.123128       0.123128
252     0.853324     0.853324     0.853324        0.853324       0.853324

     col33_integer  col35_integer
0         0.404903       0.404903
1         0.360621       0.360621
2         0.959162       0.959162
3         0.328729       0.328729
4         0.132041       0.132041
..             ...            ...
248       0.873279       0.873279
249       0.175212       0.175212
250       0.458186       0.458186
251       0.123128       0.123128
252       0.853324       0.853324

[253 rows x 18 columns]
example1.csv
          archivo  time
0    example1.csv     0
1    example1.csv     1
2    example1.csv     2
3    example1.csv     3
4    example1.csv     4
..            ...   ...
193  example1.csv   193
194  example1.csv   194
195  example1.csv   195
196  example1.csv   196
197  example1.csv   197

[198 rows x 2 columns]
example1.csv 2
          archivo  time  col5_float  col7_float  col9_float  col11_float  \
0    example1.csv     0    0.144753    0.144753    0.144753     0.144753
1    example1.csv     1    0.929938    0.929938    0.929938     0.929938
2    example1.csv     2    0.545806    0.545806    0.545806     0.545806
3    example1.csv     3    0.678356    0.678356    0.678356     0.678356
4    example1.csv     4    0.397005    0.397005    0.397005     0.397005
..            ...   ...         ...         ...         ...          ...
193  example1.csv   193    0.419009    0.419009    0.419009     0.419009
194  example1.csv   194    0.695527    0.695527    0.695527     0.695527
195  example1.csv   195    0.201495    0.201495    0.201495     0.201495
196  example1.csv   196    0.048202    0.048202    0.048202     0.048202
197  example1.csv   197    0.431653    0.431653    0.431653     0.431653

     col13_float  col15_float  col17_float  col19_float  col21_float  \
0       0.144753     0.144753     0.144753     0.144753     0.144753
1       0.929938     0.929938     0.929938     0.929938     0.929938
2       0.545806     0.545806     0.545806     0.545806     0.545806
3       0.678356     0.678356     0.678356     0.678356     0.678356
4       0.397005     0.397005     0.397005     0.397005     0.397005
..           ...          ...          ...          ...          ...
193     0.419009     0.419009     0.419009     0.419009     0.419009
194     0.695527     0.695527     0.695527     0.695527     0.695527
195     0.201495     0.201495     0.201495     0.201495     0.201495
196     0.048202     0.048202     0.048202     0.048202     0.048202
197     0.431653     0.431653     0.431653     0.431653     0.431653

     col23_float  col25_float  col27_float  target_boolean  col31_integer  \
0       0.144753     0.144753     0.144753        0.144753       0.144753
1       0.929938     0.929938     0.929938        0.929938       0.929938
2       0.545806     0.545806     0.545806        0.545806       0.545806
3       0.678356     0.678356     0.678356        0.678356       0.678356
4       0.397005     0.397005     0.397005        0.397005       0.397005
..           ...          ...          ...             ...            ...
193     0.419009     0.419009     0.419009        0.419009       0.419009
194     0.695527     0.695527     0.695527        0.695527       0.695527
195     0.201495     0.201495     0.201495        0.201495       0.201495
196     0.048202     0.048202     0.048202        0.048202       0.048202
197     0.431653     0.431653     0.431653        0.431653       0.431653

     col33_integer  col35_integer
0         0.144753       0.144753
1         0.929938       0.929938
2         0.545806       0.545806
3         0.678356       0.678356
4         0.397005       0.397005
..             ...            ...
193       0.419009       0.419009
194       0.695527       0.695527
195       0.201495       0.201495
196       0.048202       0.048202
197       0.431653       0.431653

[198 rows x 18 columns]
example10.csv
           archivo  time
0    example10.csv     0
1    example10.csv     1
2    example10.csv     2
3    example10.csv     3
4    example10.csv     4
..             ...   ...
179  example10.csv   179
180  example10.csv   180
181  example10.csv   181
182  example10.csv   182
183  example10.csv   183

[184 rows x 2 columns]
example10.csv 2
           archivo  time  col5_float  col7_float  col9_float  col11_float  \
0    example10.csv     0    0.716276    0.716276    0.716276     0.716276
1    example10.csv     1    0.328220    0.328220    0.328220     0.328220
2    example10.csv     2    0.538938    0.538938    0.538938     0.538938
3    example10.csv     3    0.962201    0.962201    0.962201     0.962201
4    example10.csv     4    0.602871    0.602871    0.602871     0.602871
..             ...   ...         ...         ...         ...          ...
179  example10.csv   179    0.935997    0.935997    0.935997     0.935997
180  example10.csv   180    0.342778    0.342778    0.342778     0.342778
181  example10.csv   181    0.733834    0.733834    0.733834     0.733834
182  example10.csv   182    0.723282    0.723282    0.723282     0.723282
183  example10.csv   183    0.802105    0.802105    0.802105     0.802105

     col13_float  col15_float  col17_float  col19_float  col21_float  \
0       0.716276     0.716276     0.716276     0.716276     0.716276
1       0.328220     0.328220     0.328220     0.328220     0.328220
2       0.538938     0.538938     0.538938     0.538938     0.538938
3       0.962201     0.962201     0.962201     0.962201     0.962201
4       0.602871     0.602871     0.602871     0.602871     0.602871
..           ...          ...          ...          ...          ...
179     0.935997     0.935997     0.935997     0.935997     0.935997
180     0.342778     0.342778     0.342778     0.342778     0.342778
181     0.733834     0.733834     0.733834     0.733834     0.733834
182     0.723282     0.723282     0.723282     0.723282     0.723282
183     0.802105     0.802105     0.802105     0.802105     0.802105

     col23_float  col25_float  col27_float  target_boolean  col31_integer  \
0       0.716276     0.716276     0.716276        0.716276       0.716276
1       0.328220     0.328220     0.328220        0.328220       0.328220
2       0.538938     0.538938     0.538938        0.538938       0.538938
3       0.962201     0.962201     0.962201        0.962201       0.962201
4       0.602871     0.602871     0.602871        0.602871       0.602871
..           ...          ...          ...             ...            ...
179     0.935997     0.935997     0.935997        0.935997       0.935997
180     0.342778     0.342778     0.342778        0.342778       0.342778
181     0.733834     0.733834     0.733834        0.733834       0.733834
182     0.723282     0.723282     0.723282        0.723282       0.723282
183     0.802105     0.802105     0.802105        0.802105       0.802105

     col33_integer  col35_integer
0         0.716276       0.716276
1         0.328220       0.328220
2         0.538938       0.538938
3         0.962201       0.962201
4         0.602871       0.602871
..             ...            ...
179       0.935997       0.935997
180       0.342778       0.342778
181       0.733834       0.733834
182       0.723282       0.723282
183       0.802105       0.802105

[184 rows x 18 columns]
example2.csv
          archivo  time
0    example2.csv     0
1    example2.csv     1
2    example2.csv     2
3    example2.csv     3
4    example2.csv     4
..            ...   ...
218  example2.csv   218
219  example2.csv   219
220  example2.csv   220
221  example2.csv   221
222  example2.csv   222

[223 rows x 2 columns]
example2.csv 2
          archivo  time  col5_float  col7_float  col9_float  col11_float  \
0    example2.csv     0    0.765312    0.765312    0.765312     0.765312
1    example2.csv     1    0.551835    0.551835    0.551835     0.551835
2    example2.csv     2    0.334389    0.334389    0.334389     0.334389
3    example2.csv     3    0.366431    0.366431    0.366431     0.366431
4    example2.csv     4    0.917976    0.917976    0.917976     0.917976
..            ...   ...         ...         ...         ...          ...
218  example2.csv   218    0.871593    0.871593    0.871593     0.871593
219  example2.csv   219    0.526791    0.526791    0.526791     0.526791
220  example2.csv   220    0.019194    0.019194    0.019194     0.019194
221  example2.csv   221    0.207508    0.207508    0.207508     0.207508
222  example2.csv   222    0.803415    0.803415    0.803415     0.803415

     col13_float  col15_float  col17_float  col19_float  col21_float  \
0       0.765312     0.765312     0.765312     0.765312     0.765312
1       0.551835     0.551835     0.551835     0.551835     0.551835
2       0.334389     0.334389     0.334389     0.334389     0.334389
3       0.366431     0.366431     0.366431     0.366431     0.366431
4       0.917976     0.917976     0.917976     0.917976     0.917976
..           ...          ...          ...          ...          ...
218     0.871593     0.871593     0.871593     0.871593     0.871593
219     0.526791     0.526791     0.526791     0.526791     0.526791
220     0.019194     0.019194     0.019194     0.019194     0.019194
221     0.207508     0.207508     0.207508     0.207508     0.207508
222     0.803415     0.803415     0.803415     0.803415     0.803415

     col23_float  col25_float  col27_float  target_boolean  col31_integer  \
0       0.765312     0.765312     0.765312        0.765312       0.765312
1       0.551835     0.551835     0.551835        0.551835       0.551835
2       0.334389     0.334389     0.334389        0.334389       0.334389
3       0.366431     0.366431     0.366431        0.366431       0.366431
4       0.917976     0.917976     0.917976        0.917976       0.917976
..           ...          ...          ...             ...            ...
218     0.871593     0.871593     0.871593        0.871593       0.871593
219     0.526791     0.526791     0.526791        0.526791       0.526791
220     0.019194     0.019194     0.019194        0.019194       0.019194
221     0.207508     0.207508     0.207508        0.207508       0.207508
222     0.803415     0.803415     0.803415        0.803415       0.803415

     col33_integer  col35_integer
0         0.765312       0.765312
1         0.551835       0.551835
2         0.334389       0.334389
3         0.366431       0.366431
4         0.917976       0.917976
..             ...            ...
218       0.871593       0.871593
219       0.526791       0.526791
220       0.019194       0.019194
221       0.207508       0.207508
222       0.803415       0.803415

[223 rows x 18 columns]
example3.csv
          archivo  time
0    example3.csv     0
1    example3.csv     1
2    example3.csv     2
3    example3.csv     3
4    example3.csv     4
..            ...   ...
191  example3.csv   191
192  example3.csv   192
193  example3.csv   193
194  example3.csv   194
195  example3.csv   195

[196 rows x 2 columns]
example3.csv 2
          archivo  time  col5_float  col7_float  col9_float  col11_float  \
0    example3.csv     0    0.087018    0.087018    0.087018     0.087018
1    example3.csv     1    0.640072    0.640072    0.640072     0.640072
2    example3.csv     2    0.465399    0.465399    0.465399     0.465399
3    example3.csv     3    0.029796    0.029796    0.029796     0.029796
4    example3.csv     4    0.517781    0.517781    0.517781     0.517781
..            ...   ...         ...         ...         ...          ...
191  example3.csv   191    0.053529    0.053529    0.053529     0.053529
192  example3.csv   192    0.081192    0.081192    0.081192     0.081192
193  example3.csv   193    0.418480    0.418480    0.418480     0.418480
194  example3.csv   194    0.069785    0.069785    0.069785     0.069785
195  example3.csv   195    0.345562    0.345562    0.345562     0.345562

     col13_float  col15_float  col17_float  col19_float  col21_float  \
0       0.087018     0.087018     0.087018     0.087018     0.087018
1       0.640072     0.640072     0.640072     0.640072     0.640072
2       0.465399     0.465399     0.465399     0.465399     0.465399
3       0.029796     0.029796     0.029796     0.029796     0.029796
4       0.517781     0.517781     0.517781     0.517781     0.517781
..           ...          ...          ...          ...          ...
191     0.053529     0.053529     0.053529     0.053529     0.053529
192     0.081192     0.081192     0.081192     0.081192     0.081192
193     0.418480     0.418480     0.418480     0.418480     0.418480
194     0.069785     0.069785     0.069785     0.069785     0.069785
195     0.345562     0.345562     0.345562     0.345562     0.345562

     col23_float  col25_float  col27_float  target_boolean  col31_integer  \
0       0.087018     0.087018     0.087018        0.087018       0.087018
1       0.640072     0.640072     0.640072        0.640072       0.640072
2       0.465399     0.465399     0.465399        0.465399       0.465399
3       0.029796     0.029796     0.029796        0.029796       0.029796
4       0.517781     0.517781     0.517781        0.517781       0.517781
..           ...          ...          ...             ...            ...
191     0.053529     0.053529     0.053529        0.053529       0.053529
192     0.081192     0.081192     0.081192        0.081192       0.081192
193     0.418480     0.418480     0.418480        0.418480       0.418480
194     0.069785     0.069785     0.069785        0.069785       0.069785
195     0.345562     0.345562     0.345562        0.345562       0.345562

     col33_integer  col35_integer
0         0.087018       0.087018
1         0.640072       0.640072
2         0.465399       0.465399
3         0.029796       0.029796
4         0.517781       0.517781
..             ...            ...
191       0.053529       0.053529
192       0.081192       0.081192
193       0.418480       0.418480
194       0.069785       0.069785
195       0.345562       0.345562

[196 rows x 18 columns]
example4.csv
          archivo  time
0    example4.csv     0
1    example4.csv     1
2    example4.csv     2
3    example4.csv     3
4    example4.csv     4
..            ...   ...
267  example4.csv   267
268  example4.csv   268
269  example4.csv   269
270  example4.csv   270
271  example4.csv   271

[272 rows x 2 columns]
example4.csv 2
          archivo  time  col5_float  col7_float  col9_float  col11_float  \
0    example4.csv     0    0.809501    0.809501    0.809501     0.809501
1    example4.csv     1    0.986667    0.986667    0.986667     0.986667
2    example4.csv     2    0.926690    0.926690    0.926690     0.926690
3    example4.csv     3    0.189347    0.189347    0.189347     0.189347
4    example4.csv     4    0.435075    0.435075    0.435075     0.435075
..            ...   ...         ...         ...         ...          ...
267  example4.csv   267    0.579793    0.579793    0.579793     0.579793
268  example4.csv   268    0.811044    0.811044    0.811044     0.811044
269  example4.csv   269    0.947041    0.947041    0.947041     0.947041
270  example4.csv   270    0.338765    0.338765    0.338765     0.338765
271  example4.csv   271    0.562437    0.562437    0.562437     0.562437

     col13_float  col15_float  col17_float  col19_float  col21_float  \
0       0.809501     0.809501     0.809501     0.809501     0.809501
1       0.986667     0.986667     0.986667     0.986667     0.986667
2       0.926690     0.926690     0.926690     0.926690     0.926690
3       0.189347     0.189347     0.189347     0.189347     0.189347
4       0.435075     0.435075     0.435075     0.435075     0.435075
..           ...          ...          ...          ...          ...
267     0.579793     0.579793     0.579793     0.579793     0.579793
268     0.811044     0.811044     0.811044     0.811044     0.811044
269     0.947041     0.947041     0.947041     0.947041     0.947041
270     0.338765     0.338765     0.338765     0.338765     0.338765
271     0.562437     0.562437     0.562437     0.562437     0.562437

     col23_float  col25_float  col27_float  target_boolean  col31_integer  \
0       0.809501     0.809501     0.809501        0.809501       0.809501
1       0.986667     0.986667     0.986667        0.986667       0.986667
2       0.926690     0.926690     0.926690        0.926690       0.926690
3       0.189347     0.189347     0.189347        0.189347       0.189347
4       0.435075     0.435075     0.435075        0.435075       0.435075
..           ...          ...          ...             ...            ...
267     0.579793     0.579793     0.579793        0.579793       0.579793
268     0.811044     0.811044     0.811044        0.811044       0.811044
269     0.947041     0.947041     0.947041        0.947041       0.947041
270     0.338765     0.338765     0.338765        0.338765       0.338765
271     0.562437     0.562437     0.562437        0.562437       0.562437

     col33_integer  col35_integer
0         0.809501       0.809501
1         0.986667       0.986667
2         0.926690       0.926690

,archivo,time,col5_float,col7_float,col9_float,col11_float,col13_float,col15_float,col17_float,col19_float,col21_float,col23_float,col25_float,col27_float,target_boolean,col31_integer,col33_integer,col35_integer
0,example0.csv,990,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903,0.404903
1,example0.csv,1,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621,0.360621
2,example0.csv,2,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162,0.959162
3,example0.csv,3,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729,0.328729
4,example0.csv,4,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041,0.132041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,example9.csv,172,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613,0.508613
173,example9.csv,173,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009,0.975009
174,example9.csv,174,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479,0.991479
175,example9.csv,175,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730,0.580730
176,example9.csv,176,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796,0.802796

In [35]:
for i in archivos:
    #print(i)
    df1 = pd.read_csv(path+'\\'+i)
    df_rep=pd.DataFrame()
    index=np.full(len(df1['time']),i)
    df_rep["archivo"]=index
    df_rep["time"]=df1["time"]
    columns = list(df1.columns)
    cont=5
    for c in column_name:
        std1=df1[columns[cont]].describe()
        std2=df1[columns[cont+1]].describe()
        if(std1[2]>std2[2]):
            df_rep[c]=df1[columns[cont]]
        else:
            df_rep[c]=df1[columns[cont+1]]
    cont+=2
    frames=[df_union,df_rep]
    df_union = pd.concat(frames)
df_union

,time,col1_boolean,col2_boolean,col3_boolean,col4_boolean,col5_float,col6_float,col7_float,col8_float,col9_float,...,col28_float,target_boolean,target_boolean.1,col31_integer,col32_integer,col33_integer,col34_integer,col35_integer,col36_integer,archivo
0,0,0.0,1.0,1.0,0.362134,0.145647,0.253824,0.700376,0.029329,0.883497,...,0.016723,0.000000,1.0,83.000000,41.0,25.000000,10.0,79.000000,0.0,NaN
1,1,0.0,0.0,0.0,0.748888,0.847978,0.322488,0.456222,0.122152,0.627994,...,0.153931,1.000000,1.0,24.000000,86.0,123.000000,12.0,92.000000,0.0,NaN
2,2,0.0,0.0,0.0,0.716708,0.397528,0.800405,0.521301,0.302375,0.298271,...,0.877246,0.000000,0.0,90.000000,3.0,98.000000,80.0,64.000000,0.0,NaN
3,3,0.0,0.0,0.0,0.070839,0.509198,0.007283,0.249728,0.678705,0.965649,...,0.248222,1.000000,0.0,22.000000,93.0,115.000000,110.0,94.000000,0.0,NaN
4,4,1.0,1.0,1.0,0.931456,0.384640,0.261504,0.037646,0.913191,0.084756,...,0.447909,0.000000,1.0,40.000000,51.0,7.000000,127.0,60.000000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,NaN,NaN,NaN,NaN,0.508613,NaN,0.508613,NaN,0.508613,...,NaN,0.508613,NaN,0.508613,NaN,0.508613,NaN,0.508613,NaN,example9.csv
173,173,NaN,NaN,NaN,NaN,0.975009,NaN,0.975009,NaN,0.975009,...,NaN,0.975009,NaN,0.975009,NaN,0.975009,NaN,0.975009,NaN,example9.csv
174,174,NaN,NaN,NaN,NaN,0.991479,NaN,0.991479,NaN,0.991479,...,NaN,0.991479,NaN,0.991479,NaN,0.991479,NaN,0.991479,NaN,example9.csv
175,175,NaN,NaN,NaN,NaN,0.580730,NaN,0.580730,NaN,0.580730,...,NaN,0.580730,NaN,0.580730,NaN,0.580730,NaN,0.580730,NaN,example9.csv
176,176,NaN,NaN,NaN,NaN,0.802796,NaN,0.802796,NaN,0.802796,...,NaN,0.802796,NaN,0.802796,NaN,0.802796,NaN,0.802796,NaN,example9.csv

In [31]:
#df_union.iloc[170]

In [43]:
#df_union
df_union['archivo'].unique()

array(['example0.csv', 'example1.csv', 'example10.csv', 'example2.csv',
       'example3.csv', 'example4.csv', 'example5.csv', 'example6.csv',
       'example7.csv', 'example8.csv', 'example9.csv'], dtype=object)

In [34]:
columns

array(['time', 'col1_boolean', 'col2_boolean', 'col3_boolean',
       'col4_boolean', 'col5_float', 'col6_float', 'col7_float',
       'col8_float', 'col9_float', 'col10_float', 'col11_float',
       'col12_float', 'col13_float', 'col14_float', 'col15_float',
       'col16_float', 'col17_float', 'col18_float', 'col19_float',
       'col20_float', 'col21_float', 'col22_float', 'col23_float',
       'col24_float', 'col25_float', 'col26_float', 'col27_float',
       'col28_float', 'target_boolean', 'target_boolean.1',
       'col31_integer', 'col32_integer', 'col33_integer', 'col34_integer',
       'col35_integer', 'col36_integer'], dtype=object)